<html lang="en" data-framework="angularjs">
	<head>
        <title>ToDo--AngularJS</title>        
		<meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src = "js/angular.js"></script>        
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="fonts/glyphicons-halflings-regular.woff2    ">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body ng-app="ToDo" ng-controller = "ToDoController" class="container-fluid body">
        <div class="row"> 
            <div class="col-md-4"></div>
        <div class="col-md-5">
            <h1>My ToDo Application</h1>
        <div class="row">
        <section id="header">
            <form ng-submit="addToDo()">
                <input class="todotextbox" type="text" ng-model="todo">               
            </form>
            <div class="row">
            <div class="todolist col-md-12">
                <div ng-repeat = "each_todo in todos">
                <label class="todolabel">
                    <input type="checkbox" class="todocheckbox todo{{each_todo.id}}" ng-model="todo_complete" ng-change="complete_todo($index)">
                   <span class="todotext" data-ng-class="!each_todo.completed && 'null' || 'strike'">{{each_todo.text}}</span>
                   <a class="remove" ng-click="removeToDo($index)"><span class="glyphicon glyphicon-remove todoremove"></span></a>
                </label>
                </div>
            </div>
            </div>
        </section>
        </div>
        </div>
        </div>
        <script>
            var todoApp = angular.module("ToDo", []);
            todoApp.controller('ToDoController', function($scope) {
                $scope.todos = [];
                $scope.addToDo = function(){
                    var todo={
                        id: $scope.todos.length+1,
                        text: $scope.todo,
                        completed: false
                    };
                    $scope.todos.push(todo);
                    $scope.todo="";
                };
                $scope.complete_todo = function(todoindex){
                    $scope.todos[todoindex].completed = !$scope.todos[todoindex].completed;
                }
                $scope.removeToDo = function(todoindex){
                    $scope.todos.splice(todoindex, 1);
                };
            });
        </script>
    </body>
</html>